.first.background {
  top: 90px;
  height:700px;
  .callout {
  	margin-top:5em;
  }
}

.content {
	margin-top:700px;
}

.main {
	padding-left:4em;  border-left:solid 1px #ccc; margin-top:0;}

.feature {

  .span6{
    width:50%;
  }
}

.cd-dropdown, .cd-select {
	position: static;
	width:100%;
	display: inline-block;
}

.background { 
  padding:11em 1em;
}


.thumbs {
   width:23%;

}

.fancybox-nav span {
  visibility:hidden;
}