.left-fast {
  -webkit-animation-name: left-fast;
  -webkit-animation-duration: 2s; 
  -webkit-animation-fill-mode: both; 
  -webkit-animation-timing-function: ease;
}

@-webkit-keyframes left-fast{
0%{ opacity: 0; -webkit-transform: translateX(50px);}
100%{ opacity: 1; -webkit-transform: translateY(0);}
 }


 .right-fast {
  -webkit-animation-name: right-fast;
  -webkit-animation-duration: 2s; 
  -webkit-animation-fill-mode: both; 
  -webkit-animation-timing-function: ease;
}

@-webkit-keyframes right-fast{
0%{ opacity: 0; -webkit-transform: translateX(-50px);}
100%{ opacity: 1; -webkit-transform: translateY(0);}
 }


.fade-in {
-webkit-animation-name: fade-in;
-webkit-animation-duration: 3s; 
-webkit-animation-fill-mode: both; 
-webkit-animation-timing-function: ease;
}

@-webkit-keyframes fade-in{
0%{ opacity: 0;}
100%{ opacity: 1;}
}

.fade-in-delay {
-webkit-animation-delay:1s; 
-webkit-animation-name: fade-in;
-webkit-animation-duration: 2s; 
-webkit-animation-fill-mode: both; 
-webkit-animation-timing-function: ease;
}