* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
     height:100%;
     min-height:100%;
     }
body{
     min-height:100%;
     }


body {
  font: 100%/1.5 $body;
  color: $primary;
  line-height:1.4;
  padding:0;
}

/* HEADINGS */

ul {
  padding:0 0 0 60px;
}

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  line-height:1.4
}

h1 {
	margin: 0 0 10px 0;
  font-size: 45px;
	font-weight: 800;
	line-height: 1;
  text-transform: uppercase;
  span {
    color:$secondary;
    font-weight:600;
  }
}

.pagetitle {
  margin:0 auto;
  text-align: center;
  margin-bottom:1em;
  
  hr{
    width:0px;
    margin:0 auto;
  }
  h1 {
    padding:.25em 1em;
    display: inline-block;
    color:$ultralight;
    font-size: 45px;
    border:solid 1px $ultralight;
    margin-bottom: .5em;
  }
}

.interior {
  .wrap {
    max-width:940px;
  }
}

h2 {
  font-size: 25px;
  color:$secondary;
}
/* PARAGRAPH */

p, li {
  font-family: $body;
  font-size: 1.25em;
    color:#666666;
    font-weight: 400;
    line-height:1.87em;
}

a {
  color:$secondary;
  text-decoration: none;
  @include transition(.3s);
  &:hover{
    opacity:.6;
  }
}

hr {
  margin:3em 0;
}

/* HEADER & LOGO */



.mainnav {
  @include transition(all .5s);
  background: $dark;
  padding:0;
  position:fixed;
  width:100%;
  z-index:1000;
  padding:2em 0;
  &.opacity {
    @include transition(all .5s);
    background:rgba(0,0,0,.8);
  }
  &.scroll {
    padding:.5em 0;
    @include transition (all .3s);
    .logo {
      @include transition (all .3s);
      width:100px;
    }
    ul {
        li {
          a{
            font-size: 14px;
            @include transition (all .3s);

            }
          }
        }
      }

  .span4 {
    h2 {
      color:white;
      font-weight: 900;
      font-size: 18px;
      margin-top: 1em;
      display: inline-block;
      float:left;
      margin-top:2em;
    }
  }
  .logo {
    float:left;
    height:auto;
    width:150px;

  }
  ul {
    float:right;
    list-style: none;
    li {
      float:left;
      a {
      color:white;
      font-size:16px;
      padding:1em;
      display:inline-block;
      position:relative;
      @include transition (all .3s);
        &:after {

              -webkit-transition: all 75ms ease;
              transition: all 75ms ease;
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              left: 0;
              bottom: 0;
              background-color: transparent;
              background-color: rgba(0,0,0,0);
        }
        &:hover {
          text-decoration: none;
          opacity:.6;
          &:after {
            background-color:white;
            bottom: -10px;
          }
        } 
      }
    }
  }
}


/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  width:100%;
  margin-bottom:1em;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  }
}

/* MAIN */

section {
  padding:4em 1em;
  background:white;
    
}

section.content1, section.content2,section.content3,section.content4{
  padding:2em 0 !important;
  p {
    width:65%;
  
    margin:0 auto;
  }
}

.background {
  background-size:cover;
  background-repeat:no-repeat;
  padding:7em 1em;
  background-position:center center;
  background-attachment:fixed;
  background-color:white;
}

/*@media \\0 screen { 
  .background  {
    background-attachment:scroll !important;
  }
}*/

.content {
  z-index:2;
  position:relative;
  margin-top:350px;
  overflow-x:hidden;
}

.first.background {
  background-attachment:scroll;
  position: fixed;
  height: 350px;
  width: 100%;
  z-index: 1;
  top: 0px;
  .callout {
    margin-top:0em;
  }
}

.first.background.scroll {
  position:absolute !important;
}


.second {

}


.callout {
  background:white;
  padding:2em;
  box-shadow:0 0 30px black;
  h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    padding:0;
    margin:0;
  }
}

.call-to-action {
  display:inline-block;
  a {
    color:$primary;
    &:visited {
      color:$primary;
    }
  }

  &:hover {
   a {
      opacity:.4;
      }
    span:before{
    margin-left:1em;
    @include transition(.3s);
    color:$secondary;
    opacity:1 !important;
     
      }
    }
  span {
    @include transition(.3s);
    &:before {
      display: inline-block;
      margin-left:.5em;
      @include transition(.3s);
      top: 3px;
      position: relative;
     }
  }
}

.wrap {
  max-width: 1120px;
  margin:0 auto;
  padding:0 1em;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.servivces {
  ul {
    border-bottom:0;
    li {
      padding-bottom:1em;
      float:none !important;
      &:last-child {
        padding-bottom:0;
        }
        a {
          border:0 !important;
          font-size: 14px;
        }
      }
      li.active {
        a {
          border:0 !important;
          opacity:.6;
        }
      }
  }
}


.testimonial {
  background: $neutral;
  overflow:hidden;
  .cbp-qtrotator .cbp-qtcontent {
    border-top:0;
    .quote {
      line-height:0;
      margin-top:350px;
      color:white;
    }
  }

}

.feature {
  padding:0;
  position:realtive;
  z-index:100;
  .span6{
    margin:0;
    width:100%;
    img {
      margin:0;
    }
  }
}

/* FOOTER */

.footer {
  position: relative;
  background: $dark;
  padding:1em 0;
  .span3 {
    text-align: center;
    .social {
      text-align: center;
      a {
        color:white;
        margin-right:1em;
        font-size: 18px;
      }
    }
    h2 {
      color:white;
      font-weight: 900;
      font-size: 18px;
      display: inline-block;
      /*margin-top:3em;*/
      text-align: left;
      padding:0;
      margin-right:1em;
    }
  }
    ul {
    float:right;
    list-style: none;
    padding:0;
    li {
      float:left;
      a {
      color:white;
      font-size:12px;
      padding:1em 1em;
      display:inline-block;
      @include transition (all .3s);
        &:hover {
          text-decoration: none;
          opacity:.6;
        } 
      }
    }
  }
}

/* BUTTON */



/* TESTIMONIAL ROTATOR */


.cbp-qtrotator {
  margin: 1em auto;
  max-width: 800px;
  width: 100%;



}

.cbp-qtcontent {

.quote {
  font-size: 510px;
color: #D6E7F5;
position: absolute;
font-style: italic;
left: 46px;
top: -125px;
z-index: -1;

  }

}

.cbp-qtrotator .cbp-qtcontent {
  position: absolute;
  text-align: center;
  border-top: 1px solid $secondary;
  top: 0;
  z-index: 0;
  opacity: 0;
  width:auto;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative; 
  z-index: 100;
  pointer-events: auto;
  opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
  content: " ";
  display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
  clear: both;
}

.cbp-qtprogress {
  position: absolute;
  background: #858786;
  height: 1px;
  width: 0%;
  top: 0px;
  z-index: 1000;
}

.cbp-qtrotator blockquote {
  margin: 0;
  padding: 0;
}

.cbp-qtrotator p {
  font-family:$body;
  font-size: 25px;
  color: $primary;
  font-weight: 100;
  margin: 2em auto .25em;
  text-align:center;
  text-transform: uppercase;
  max-width:500px;
  line-height:1.4;
}
.cbp-qtrotator .name {
  font-family: $body;
  font-size:20px;
  font-weight:100;
  text-transform: none;
}
.cbp-qtrotator blockquote footer {
  font-size: 1.2em;
}

.cbp-qtrotator blockquote footer:before {
  content: '― ';
}


/* Example for media query */
@media screen and (max-width: 30.6em) { 

  .cbp-qtrotator {
    font-size: 70%;
  }

  .cbp-qtrotator img {
    width: 80px;
  }

}


/* DEMO 3 */

.dropdown-toggle {
right: 25px;
top: 25px;
position: fixed;
width: 80%;
margin: 0 auto;
padding: 10px;
z-index: 10001;
background: #3b3b3b;
border-radius: 7px;
border: 1px solid rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 20px black;
cursor: pointer;
outline: none;
font-weight: bold;
color: white;
&:hover {
  opacity:1;
}
}

.dropdown-toggle:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.dropdown-toggle .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    right: 0px;
    width:250px;
    text-align: center;
    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.dropdown-toggle .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.dropdown-toggle .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.dropdown-toggle .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.dropdown-toggle .dropdown li i {
    float: right;
    color: inherit;
}

.dropdown-toggle .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.dropdown-toggle .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.dropdown-toggle .dropdown li:hover a {
    background: $primary;
}

/* Active state */

.dropdown-toggle.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .dropdown-toggle .dropdown,
.no-pointerevents .dropdown-toggle .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .dropdown-toggle.active .dropdown,
.no-pointerevents .dropdown-toggle.active .dropdown {
    display: block;
}


.dropdown-menu {
right: 25px;
width: 70%;
text-align: center;
position: fixed;
top: 76px;
 left: auto; 
margin: 0 auto;
li {
  a {
    padding: 1em 0;
    }
}
}



.cd-dropdown ul {
  position: absolute;
  top: 0px;
  width: 100%;
}

.cd-dropdown > span,
.cd-dropdown ul li {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul li {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.cd-active.cd-dropdown > span {
  color: $secondary;
}

.cd-active.cd-dropdown ul li {
  pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
  background: $secondary;
  color: #fff;
}

/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: #f4f4f4 url(../images/grid_DominikKiss_SubtlePatterns.jpg);
  font-weight: 300;
  font-size: 15px;
  color: #333;
  overflow: scroll;
  overflow-x: hidden;
}

.container {
  width: 100%;
  position: relative;
}



.main,
.container > header {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

.main {
  margin-top:5em;
}

.container > header {
  padding: 40px 10px 50px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px rgba(255,255,255,0.8);
  margin-bottom: 30px;
}

.container > header h1 {
  font-size: 34px;
  line-height: 38px;
  margin: 0;
  font-weight: 700;
  color: #333;
  float: left;
}

.container > header h1 span {
  display: block;
  font-size: 20px;
  font-weight: 300;
}




/* Header Style */







.cd-dropdown, .cd-select {
position: absolute;
margin:0 auto;
width:80%;
display: block;
background: white;
z-index: 100;
right: 50px;
}
.cd-dropdown > span {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #999;
  font-weight: 700;
  font-size: 16px;
  background: #fff;
  display: block;
  padding: 0 50px 0 30px;
  position: relative;
  cursor: pointer;
}

.cd-dropdown > span:after {
  content: '\25BC';
  position: absolute;
  right: 0px;
  top: 15%;
  width: 50px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  height: 70%;
  line-height: 24px;
  border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
  content: '\25B2';
}

.cd-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.cd-dropdown ul li {
  display: block;
  padding: 0;
  width: 100% !important;
}

.cd-dropdown ul li span {
  width: 100%;
  background: #fff;
  line-height: 60px;
  padding: 0 2em;
  display: block;
  color: #bcbcbc;
  cursor: pointer;
  font-weight: 700;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
  padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
  border: 1px solid #ddd;
}


.cd-dropdown.hidden-phone ul{
  li {
    margin:1em 0;
    position: static;
    &.active {
      span {
        background: #235472;
        color: #fff;
        }
      }
    }
    span {
      line-height: 46px;
    }
  }

  /* CONTACGT FORM */

/* Contact Form */
.cbp-mc-form {
  position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
  content: " "; display: table; 
}

.cbp-mc-form:after { 
  clear: both; 
}

.cbp-mc-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $heading;
  color:$primary;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
  font-family: $heading;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: $primary;
  display: block;
  width: 100%;
  background: #ebebeb;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
  border: 0px;
  border-radius:0 !important;
  padding:1em;
  box-shadow:none;
}

.cbp-mc-form textarea {
  min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
  outline: none;
  border: 1px solid $primary;
}

.cbp-mc-form select:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
  background: $primary;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin:1em 0;
  font-weight:100;

}

.cbp-mc-form input.cbp-mc-submit:hover {
  background: $secondary;
}

#nospam, .nospam {
  display:none;
}

.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}

.alert-success {
  position: absolute;
  top: 0;
  z-index: 1000;
}

input[type="file"] {
background: transparent;
padding: 0;
margin: 0;
}

.post {
  border-bottom: solid 1px #ccc;
 padding-bottom:2em;
 padding-top:2em;
 &:first-child {
  padding-top:0;
 }
&:last-child {
  border:0;
}
}

ul.posts {
  padding:0;
  list-style: none;
  li {
    font-size: 14px;
    padding:7px;
  }
}

.article-title {
  border-bottom: solid 1px #ccc;
  h2 {
    font-size: 40px;
  }
}
