// COLOR PALETTE
$dark: #1b1b1b;
$primary: #3b3b3b;
$secondary: #235472;
$neutral: #E9E9E9;
$highlight: #306DB1;
$ultralight: #A3A3A3;

// FONT STACKS
$heading: 'Exo', sans-serif;
$body: 'Exo', sans-serif;