 [[!FormIt?
       &hooks=`spam, email`
       &emailFrom=`thesohoshopfrwd@gmail.com`
       &emailTpl=`snt_email_sales`
       &emailTo=`justin.lobaito@weloideas.com, [[*mailto]], cooper@ten25designs.com`
       &emailSubject=`[[*pagetitle]] Form Submission`
       &validate=`first_name_owner1:required, last_name_owner1:required,first_name_sales:required, last_name_sales:required, community:required, email_owner1:required, email_owner1:email, phone_owner1:required, nospam:blank, lot:required, address:required, options:required, floor-plan:required, date:required`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for getting in contact with us.</h3>
      <p>A SOHO Shop representative will get in contact with you shortly</p>
    </div>`
    ]]

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error" id="error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>
		      <strong><h3>Please review the following errors:</h3></strong>
		            [[!+fi.error.first_name_sales:!empty=`<p>First Name for sales person is required</p>`]]
		            [[!+fi.error.last_name_sales:!empty=`<p>Last Name for sales person is required</p>`]]
                    [[!+fi.error.first_name_owner1:!empty=`<p>First Name for at least one homeowner is required</p>`]]
                    [[!+fi.error.last_name_owner1:!empty=`<p>Last Name for at least one homeowner is required</p>`]]
                    [[!+fi.error.phone_owner1:!empty=`<p>Phone Number for at least one homeowner is required</p>`]]
		            [[!+fi.error.email_owner1:!empty=`<p>Email Address for at least one homeowner is required</p>`]]
		            [[!+fi.error.community:!empty=`<p>Community is required</p>`]]
                    [[!+fi.error.address:!empty=`<p>Address is required</p>`]]
                    [[!+fi.error.lot:!empty=`<p>Lot Number is required</p>`]]
                    [[!+fi.error.floor-plan:!empty=`<p>Floor Plan is required</p>`]]
                    [[!+fi.error.date:!empty=`<p>Please select a completion date</p>`]]
                    [[!+fi.error.options:!empty=`<p>Physical Options are required</p>`]]

		</div>
</div>


`]]
    [[!+fi.successMessage]]


                   <form class="cbp-mc-form row-fluid" id="form" action="[[~[[*id]]]]#error" method="post"   enctype="multipart/form-data">

                        
                            <div class="row-fluid">
                                <h2>Sales Person</h2>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label for="first_name_sales">First Name<sup>*</sup></label>
                                        <input type="text" value="[[!+fi.first_name_sales]]" id="first_name_sales" name="first_name_sales"  placeholder="Jonathan">
                                    </div>
                                    <div class="span6">
                                        <label for="last_name_sales">Last Name<sup>*</sup></label>
                                        <input type="text" value="[[!+fi.last_name_sales]]" id="last_name_sales" name="last_name_sales"  placeholder="Doe">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row-fluid">
                                <h2>Homeowner 1</h2>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label for="first_name_owner1">First Name<sup>*</sup></label>
                                        <input type="text" value="[[!+fi.first_name_owner1]]" id="first_name_owner1" name="first_name_owner1"  placeholder="Jonathan">
                                    </div>
                                    <div class="span6">
                                        <label for="last_name_owner1">Last Name<sup>*</sup></label>
                                        <input type="text" value="[[!+fi.last_name_owner1]]" id="last_name_owner1" name="last_name_owner1"  placeholder="Doe">
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label for="email_owner1">Email Address<sup>*</sup></label>
                                        <input type="text" value="[[!+fi.email_owner1]]" id="email_owner1" name="email_owner1"   placeholder="jon@doe.com">
                                    </div>
                                    <div class="span6">
                                        <label for="phone_owner1">Phone<sup>*</sup></label>
                                        <input type="text" value="[[!+fi.phone_owner1]]" id="phone_owner1" name="phone_owner1"   placeholder="999-999-9999">
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="row-fluid">
                                <h2>Homeowner 2</h2>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label for="first_name_owner2">First Name</label>
                                        <input type="text" value="[[!+fi.first_name_owner2]]" id="first_name_owner2" name="first_name_owner2"  placeholder="Jonathan">
                                    </div>
                                    <div class="span6">
                                        <label for="last_name_owner2">Last Name</label>
                                        <input type="text" value="[[!+fi.last_name_owner2]]" id="last_name_owner2" name="last_name_owner2"  placeholder="Doe">
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label for="email_owner2">Email Address</label>
                                        <input type="text" value="[[!+fi.email_owner2]]" id="email_owner2" name="email_owner2"   placeholder="jon@doe.com">
                                    </div>
                                    <div class="span6">
                                         <label for="phone_owner2">Phone</label>
                                        <input type="text" value="[[!+fi.phone_owner2]]" id="phone_owner2" name="phone_owner2"   placeholder="999-999-9999">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <label for="community">Community<sup>*</sup></label>
                            <input type="text" value="[[!+fi.community]]" id="community" name="community"  >
                            <label for="address">Address<sup>*</sup></label>
                            <input type="text" value="[[!+fi.address]]" id="address" name="address"  >
                            <label for="lot">Lot Number<sup>*</sup></label>
                            <input type="text" value="[[!+fi.lot]]" id="lot" name="lot"  >
                            <label for="floor-plan">Floor Plan<sup>*</sup></label>
                            <input type="text" value="[[!+fi.floor-plan]]" id="floor-plan" name="floor-plan"  >
                            <label for="floor-plan">Selections must be complete by:<sup>*</sup></label>
                            <input type="text" value="[[!+fi.date]]" id="date" name="date"  >
                            <div class="row-fluid">
                                <label for="attachment">Upload an attachment:</label>
                                <div class="span6"><input type="file" name="contact_images1" value="[[!+fi.contact_images1]]" /></div>
                            </div>
                            <br>
                            <label for="options">Physical Options <small>(different kitchen, master suite, fireplaces, etc.)</small><sup>*</sup></label>
                            <textarea value="[[!+fi.options]]" id="options" name="options"></textarea>
                            <!-- 
                            <label for="comments">Additional Comments<sup>*</sup></label>
                            <textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea> -->
                        <input class="cbp-mc-submit" type="submit" value="Send our way" />
                    </form>
                  