             <section class="footer">
                <div class="wrap row-fluid">
                    <div class="span3">
                        <a href="/"><h2>The SOHO Shop</h2></a>
                        <div class="social">
                            <a href="[[++facebook]]" target="_blank"><span class="ico-facebook"></span></a>
                            <a href="[[++houzz]]" target="_blank"><span class="ico-houzz"></span></a>
                            <a href="[[++pinterest]]" target="_blank"><span class="ico-pinterest"></span></a>
                            <a href="[[++youtube]]" target="_blank"><span class="ico-youtube"></span></a>
                            <a href="[[++instagram]]" target="_blank"><span class="ico-instagram"></span></a>
                        </div>

                    </div>
                    [[$footer_nav]]
                    
                </div>
            </section>
        </div>        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src="/resources/js/libs/bootstrap.min.js"></script>
        <script src="/resources/js/plugins.js"></script>
        <script src="/resources/js/main.js"></script>
        <script src="/resources/js/classie.js"></script>
        <script src="/resources/js/lazyload.js"></script>
        <script src="/resources/js/fancybox.js"></script>
        <script>
            $(document).ready(function(){
                $( '#cbp-qtrotator' ).cbpQTRotator();
                $("body").find("p,h2,h1,ul").addClass("fade-in");
                $("body").find("img").addClass("fade-in");
                $("body").find(".callout span").addClass('fade-in-delay');
                $(".fancybox").fancybox();
                $("img.thumb").lazyload({
                        effect : "fadeIn"
                    });

            });
        </script>
        <script type="text/javascript">
            
            $( function() {
                
                $( '#cd-dropdown' ).dropdown( {
                    gutter : 8,
                    stack : false,
                    slidingIn : 100
                } );

            });
            $(function() {
                $( "#date" ).datepicker();
              });

        </script>
        <script type="text/javascript">
            
            function DropDown(el) {
                this.dd = el;
                this.placeholder = this.dd.children('span');
                this.opts = this.dd.find('ul.dropdown > li');
                this.val = '';
                this.index = -1;
                this.initEvents();
            }
            DropDown.prototype = {
                initEvents : function() {
                    var obj = this;

                    obj.dd.on('click', function(event){
                        $(this).toggleClass('active');
                        return false;
                    });

                    obj.opts.on('click',function(){
                        var opt = $(this);
                        obj.val = opt.text();
                        obj.index = opt.index();
                        obj.placeholder.text(obj.val);
                    });
                },
                getValue : function() {
                    return this.val;
                },
                getIndex : function() {
                    return this.index;
                }
            }

            $(function() {

                var dd = new DropDown( $('#dd') );

                $(document).click(function() {
                    // all dropdowns
                    $('.wrapper-dropdown-3').removeClass('active');
                });

            });

        </script>

    </body>
</html>