<div class="dropdown visible-phone" tabindex="1">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

[[+wf.wrapper]]
<ul>
</div>