<ul class="visible-desktop">
[[+wf.wrapper]]
<li><a style="margin-top:-10px;text-align: center;padding: 5px 1em;" href="http://eliteconcretecoatings.com" target="_new"><p style="font-size:12px; color:white;">Affiliate Company</p><img style="float:right; width:150px; height:auto;" src="/resources/img/ecc_reverse.png"></a></li>
</ul>