[[Wayfinder? 
                    &level=`1`
                    &startId=`0`
                    &innerTpl=`nav_innner`
                    &outerTpl=`nav_mobile_outer`
                    &sortBy=`menuindex`

                    ]]
        <section class="mainnav cbp-af-header hidden-phone">
            <div class="wrap row-fluid cbp-af-inner">
                <a href="/"><img src="/resources/img/logo.png" alt="" class="logo"></a>
                [[Wayfinder? 
                    &level=`1`
                    &startId=`0`
                    &innerTpl=`nav_innner`
                    &outerTpl=`nav_outer`
&sortBy=`menuindex`
]]
            </div>
        </section>