<strong>[[+first_name_sales]] [[+last_name_sales]]</strong> from <strong>[[*pagetitle]]</strong> has completed a new homeowner form: <br />
<br />
<h2>Homeowner Information</h2>
Name: [[+first_name_owner1]] [[+last_name_owner1]]<br />
Email: [[+email_owner1]]<br />
Phone: [[+phone_owner1]]<br />
<br />
<strong>Community:</strong> [[+community]]<br />
<strong>Address:</strong> [[+address]]<br />
<strong>Lot Number:</strong> [[+lot]]<br />
<strong>Floor Plan:</strong> [[+floor-plan]]<br />
<strong>Completion Date:</strong> [[+date]]<br>
<strong>Physical Options:</strong> [[+options]]<br />
<br />
[[+first_name_owner2:notempty=`
<h3>Secondary Contact Information</h3>
Name: [[+first_name_owner2]] [[+last_name_owner2]]<br />
Email: [[+email_owner2]]<br />
Phone: [[+phone_owner2]]<br />`]]
<br>
