@import url(../css/flexslider.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 54, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 61, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 63, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 65, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 67, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 69, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 71, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 73, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 76, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 79, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 81, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 82, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 84, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 87, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 88, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 89, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 96, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 97, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 98, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 110, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 116, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 123, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 130, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 131, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 134, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 141, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 149, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 155, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 163, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 169, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 175, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 176, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 177, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 183, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 190, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 194, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 201, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 202, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 210, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 211, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 214, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 217, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 220, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 223, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 226, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 227, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 228, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 236, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 237, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 238, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 239, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 240, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 241, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 242, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 243, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 244, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 246, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 247, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_smallest.scss */
html {
  height: 100%;
  min-height: 100%;
}

/* line 11, ../sass/_smallest.scss */
body {
  min-height: 100%;
}

/* line 16, ../sass/_smallest.scss */
body {
  font: 100%/1.5 "Exo", sans-serif;
  color: #3b3b3b;
  line-height: 1.4;
  padding: 0;
}

/* HEADINGS */
/* line 25, ../sass/_smallest.scss */
ul {
  padding: 0 0 0 60px;
}

/* line 29, ../sass/_smallest.scss */
h1, h2, h3, h4, h5 {
  font-family: "Exo", sans-serif;
  color: #3b3b3b;
  line-height: 1.4;
}

/* line 35, ../sass/_smallest.scss */
h1 {
  margin: 0 0 10px 0;
  font-size: 45px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}
/* line 41, ../sass/_smallest.scss */
h1 span {
  color: #235472;
  font-weight: 600;
}

/* line 47, ../sass/_smallest.scss */
.pagetitle {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
}
/* line 52, ../sass/_smallest.scss */
.pagetitle hr {
  width: 0px;
  margin: 0 auto;
}
/* line 56, ../sass/_smallest.scss */
.pagetitle h1 {
  padding: .25em 1em;
  display: inline-block;
  color: #a3a3a3;
  font-size: 45px;
  border: solid 1px #a3a3a3;
  margin-bottom: .5em;
}

/* line 67, ../sass/_smallest.scss */
.interior .wrap {
  max-width: 940px;
}

/* line 72, ../sass/_smallest.scss */
h2 {
  font-size: 25px;
  color: #235472;
}

/* PARAGRAPH */
/* line 78, ../sass/_smallest.scss */
p, li {
  font-family: "Exo", sans-serif;
  font-size: 1.25em;
  color: #666666;
  font-weight: 400;
  line-height: 1.87em;
}

/* line 86, ../sass/_smallest.scss */
a {
  color: #235472;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 90, ../sass/_smallest.scss */
a:hover {
  opacity: .6;
}

/* line 95, ../sass/_smallest.scss */
hr {
  margin: 3em 0;
}

/* HEADER & LOGO */
/* line 103, ../sass/_smallest.scss */
.mainnav {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #1b1b1b;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 2em 0;
}
/* line 111, ../sass/_smallest.scss */
.mainnav.opacity {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.8);
}
/* line 115, ../sass/_smallest.scss */
.mainnav.scroll {
  padding: .5em 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 118, ../sass/_smallest.scss */
.mainnav.scroll .logo {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 100px;
}
/* line 124, ../sass/_smallest.scss */
.mainnav.scroll ul li a {
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 134, ../sass/_smallest.scss */
.mainnav .span4 h2 {
  color: white;
  font-weight: 900;
  font-size: 18px;
  margin-top: 1em;
  display: inline-block;
  float: left;
  margin-top: 2em;
}
/* line 144, ../sass/_smallest.scss */
.mainnav .logo {
  float: left;
  height: auto;
  width: 150px;
}
/* line 150, ../sass/_smallest.scss */
.mainnav ul {
  float: right;
  list-style: none;
}
/* line 153, ../sass/_smallest.scss */
.mainnav ul li {
  float: left;
}
/* line 155, ../sass/_smallest.scss */
.mainnav ul li a {
  color: white;
  font-size: 16px;
  padding: 1em;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 162, ../sass/_smallest.scss */
.mainnav ul li a:after {
  -webkit-transition: all 75ms ease;
  transition: all 75ms ease;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
/* line 175, ../sass/_smallest.scss */
.mainnav ul li a:hover {
  text-decoration: none;
  opacity: .6;
}
/* line 178, ../sass/_smallest.scss */
.mainnav ul li a:hover:after {
  background-color: white;
  bottom: -10px;
}

/* RESPONSIVE IMAGES */
/* line 191, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  width: 100%;
  margin-bottom: 1em;
  -ms-interpolation-mode: bicubic;
}
/* line 200, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 207, ../sass/_smallest.scss */
section {
  padding: 4em 1em;
  background: white;
}

/* line 213, ../sass/_smallest.scss */
section.content1, section.content2, section.content3, section.content4 {
  padding: 2em 0 !important;
}
/* line 215, ../sass/_smallest.scss */
section.content1 p, section.content2 p, section.content3 p, section.content4 p {
  width: 65%;
  margin: 0 auto;
}

/* line 222, ../sass/_smallest.scss */
.background {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7em 1em;
  background-position: center center;
  background-attachment: fixed;
  background-color: white;
}

/*@media \0 screen { 
  .background  {
    background-attachment:scroll !important;
  }
}*/
/* line 237, ../sass/_smallest.scss */
.content {
  z-index: 2;
  position: relative;
  margin-top: 350px;
  overflow-x: hidden;
}

/* line 244, ../sass/_smallest.scss */
.first.background {
  background-attachment: scroll;
  position: fixed;
  height: 350px;
  width: 100%;
  z-index: 1;
  top: 0px;
}
/* line 251, ../sass/_smallest.scss */
.first.background .callout {
  margin-top: 0em;
}

/* line 256, ../sass/_smallest.scss */
.first.background.scroll {
  position: absolute !important;
}

/* line 266, ../sass/_smallest.scss */
.callout {
  background: white;
  padding: 2em;
  box-shadow: 0 0 30px black;
}
/* line 270, ../sass/_smallest.scss */
.callout h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/* line 279, ../sass/_smallest.scss */
.call-to-action {
  display: inline-block;
}
/* line 281, ../sass/_smallest.scss */
.call-to-action a {
  color: #3b3b3b;
}
/* line 283, ../sass/_smallest.scss */
.call-to-action a:visited {
  color: #3b3b3b;
}
/* line 289, ../sass/_smallest.scss */
.call-to-action:hover a {
  opacity: .4;
}
/* line 292, ../sass/_smallest.scss */
.call-to-action:hover span:before {
  margin-left: 1em;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #235472;
  opacity: 1 !important;
}
/* line 300, ../sass/_smallest.scss */
.call-to-action span {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 302, ../sass/_smallest.scss */
.call-to-action span:before {
  display: inline-block;
  margin-left: .5em;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 3px;
  position: relative;
}

/* line 312, ../sass/_smallest.scss */
.wrap {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1em;
}
/* line 316, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 321, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 328, ../sass/_smallest.scss */
.servivces ul {
  border-bottom: 0;
}
/* line 330, ../sass/_smallest.scss */
.servivces ul li {
  padding-bottom: 1em;
  float: none !important;
}
/* line 333, ../sass/_smallest.scss */
.servivces ul li:last-child {
  padding-bottom: 0;
}
/* line 336, ../sass/_smallest.scss */
.servivces ul li a {
  border: 0 !important;
  font-size: 14px;
}
/* line 342, ../sass/_smallest.scss */
.servivces ul li.active a {
  border: 0 !important;
  opacity: .6;
}

/* line 351, ../sass/_smallest.scss */
.testimonial {
  background: #e9e9e9;
  overflow: hidden;
}
/* line 354, ../sass/_smallest.scss */
.testimonial .cbp-qtrotator .cbp-qtcontent {
  border-top: 0;
}
/* line 356, ../sass/_smallest.scss */
.testimonial .cbp-qtrotator .cbp-qtcontent .quote {
  line-height: 0;
  margin-top: 350px;
  color: white;
}

/* line 365, ../sass/_smallest.scss */
.feature {
  padding: 0;
  position: realtive;
  z-index: 100;
}
/* line 369, ../sass/_smallest.scss */
.feature .span6 {
  margin: 0;
  width: 100%;
}
/* line 372, ../sass/_smallest.scss */
.feature .span6 img {
  margin: 0;
}

/* FOOTER */
/* line 380, ../sass/_smallest.scss */
.footer {
  position: relative;
  background: #1b1b1b;
  padding: 1em 0;
}
/* line 384, ../sass/_smallest.scss */
.footer .span3 {
  text-align: center;
}
/* line 386, ../sass/_smallest.scss */
.footer .span3 .social {
  text-align: center;
}
/* line 388, ../sass/_smallest.scss */
.footer .span3 .social a {
  color: white;
  margin-right: 1em;
  font-size: 18px;
}
/* line 394, ../sass/_smallest.scss */
.footer .span3 h2 {
  color: white;
  font-weight: 900;
  font-size: 18px;
  display: inline-block;
  /*margin-top:3em;*/
  text-align: left;
  padding: 0;
  margin-right: 1em;
}
/* line 405, ../sass/_smallest.scss */
.footer ul {
  float: right;
  list-style: none;
  padding: 0;
}
/* line 409, ../sass/_smallest.scss */
.footer ul li {
  float: left;
}
/* line 411, ../sass/_smallest.scss */
.footer ul li a {
  color: white;
  font-size: 12px;
  padding: 1em 1em;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 417, ../sass/_smallest.scss */
.footer ul li a:hover {
  text-decoration: none;
  opacity: .6;
}

/* BUTTON */
/* TESTIMONIAL ROTATOR */
/* line 433, ../sass/_smallest.scss */
.cbp-qtrotator {
  margin: 1em auto;
  max-width: 800px;
  width: 100%;
}

/* line 444, ../sass/_smallest.scss */
.cbp-qtcontent .quote {
  font-size: 510px;
  color: #D6E7F5;
  position: absolute;
  font-style: italic;
  left: 46px;
  top: -125px;
  z-index: -1;
}

/* line 457, ../sass/_smallest.scss */
.cbp-qtrotator .cbp-qtcontent {
  position: absolute;
  text-align: center;
  border-top: 1px solid #235472;
  top: 0;
  z-index: 0;
  opacity: 0;
  width: auto;
}

/* line 467, ../sass/_smallest.scss */
.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom: none;
}

/* line 472, ../sass/_smallest.scss */
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative;
  z-index: 100;
  pointer-events: auto;
  opacity: 1;
}

/* line 480, ../sass/_smallest.scss */
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
  content: " ";
  display: table;
}

/* line 485, ../sass/_smallest.scss */
.cbp-qtrotator .cbp-qtcontent:after {
  clear: both;
}

/* line 489, ../sass/_smallest.scss */
.cbp-qtprogress {
  position: absolute;
  background: #858786;
  height: 1px;
  width: 0%;
  top: 0px;
  z-index: 1000;
}

/* line 498, ../sass/_smallest.scss */
.cbp-qtrotator blockquote {
  margin: 0;
  padding: 0;
}

/* line 503, ../sass/_smallest.scss */
.cbp-qtrotator p {
  font-family: "Exo", sans-serif;
  font-size: 25px;
  color: #3b3b3b;
  font-weight: 100;
  margin: 2em auto .25em;
  text-align: center;
  text-transform: uppercase;
  max-width: 500px;
  line-height: 1.4;
}

/* line 514, ../sass/_smallest.scss */
.cbp-qtrotator .name {
  font-family: "Exo", sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-transform: none;
}

/* line 520, ../sass/_smallest.scss */
.cbp-qtrotator blockquote footer {
  font-size: 1.2em;
}

/* line 524, ../sass/_smallest.scss */
.cbp-qtrotator blockquote footer:before {
  content: '― ';
}

/* Example for media query */
@media screen and (max-width: 30.6em) {
  /* line 532, ../sass/_smallest.scss */
  .cbp-qtrotator {
    font-size: 70%;
  }

  /* line 536, ../sass/_smallest.scss */
  .cbp-qtrotator img {
    width: 80px;
  }
}
/* DEMO 3 */
/* line 545, ../sass/_smallest.scss */
.dropdown-toggle {
  right: 25px;
  top: 25px;
  position: fixed;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  z-index: 10001;
  background: #3b3b3b;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 20px black;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: white;
}
/* line 561, ../sass/_smallest.scss */
.dropdown-toggle:hover {
  opacity: 1;
}

/* line 566, ../sass/_smallest.scss */
.dropdown-toggle:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #8aa8bd transparent;
}

/* line 579, ../sass/_smallest.scss */
.dropdown-toggle .dropdown {
  /* Size & position */
  position: absolute;
  top: 140%;
  right: 0px;
  width: 250px;
  text-align: center;
  /* Styles */
  background: white;
  border-radius: inherit;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-weight: normal;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  list-style: none;
  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

/* line 604, ../sass/_smallest.scss */
.dropdown-toggle .dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}

/* line 616, ../sass/_smallest.scss */
.dropdown-toggle .dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;
}

/* line 628, ../sass/_smallest.scss */
.dropdown-toggle .dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #8aa8bd;
  border-bottom: 1px solid #e6e8ea;
  box-shadow: inset 0 1px 0 white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 642, ../sass/_smallest.scss */
.dropdown-toggle .dropdown li i {
  float: right;
  color: inherit;
}

/* line 647, ../sass/_smallest.scss */
.dropdown-toggle .dropdown li:first-of-type a {
  border-radius: 7px 7px 0 0;
}

/* line 651, ../sass/_smallest.scss */
.dropdown-toggle .dropdown li:last-of-type a {
  border: none;
  border-radius: 0 0 7px 7px;
}

/* Hover state */
/* line 658, ../sass/_smallest.scss */
.dropdown-toggle .dropdown li:hover a {
  background: #3b3b3b;
}

/* Active state */
/* line 664, ../sass/_smallest.scss */
.dropdown-toggle.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

/* No CSS3 support */
/* line 672, ../sass/_smallest.scss */
.no-opacity .dropdown-toggle .dropdown,
.no-pointerevents .dropdown-toggle .dropdown {
  display: none;
  opacity: 1;
  /* If opacity support but no pointer-events support */
  pointer-events: auto;
  /* If pointer-events support but no pointer-events support */
}

/* line 679, ../sass/_smallest.scss */
.no-opacity .dropdown-toggle.active .dropdown,
.no-pointerevents .dropdown-toggle.active .dropdown {
  display: block;
}

/* line 684, ../sass/_smallest.scss */
.dropdown-menu {
  right: 25px;
  width: 70%;
  text-align: center;
  position: fixed;
  top: 76px;
  left: auto;
  margin: 0 auto;
}
/* line 693, ../sass/_smallest.scss */
.dropdown-menu li a {
  padding: 1em 0;
}

/* line 701, ../sass/_smallest.scss */
.cd-dropdown ul {
  position: absolute;
  top: 0px;
  width: 100%;
}

/* line 708, ../sass/_smallest.scss */
.cd-dropdown > span,
.cd-dropdown ul li {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 712, ../sass/_smallest.scss */
.cd-dropdown ul li {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

/* line 718, ../sass/_smallest.scss */
.cd-active.cd-dropdown > span {
  color: #235472;
}

/* line 722, ../sass/_smallest.scss */
.cd-active.cd-dropdown ul li {
  pointer-events: auto;
}

/* line 726, ../sass/_smallest.scss */
.cd-active.cd-dropdown ul li span {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

/* line 734, ../sass/_smallest.scss */
.cd-active.cd-dropdown ul li span:hover {
  background: #235472;
  color: #fff;
}

/* General Demo Style */
/* line 744, ../sass/_smallest.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 754, ../sass/_smallest.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 759, ../sass/_smallest.scss */
.clearfix:after {
  clear: both;
}

/* line 763, ../sass/_smallest.scss */
.clearfix {
  *zoom: 1;
}

/* line 767, ../sass/_smallest.scss */
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: #f4f4f4 url(../images/grid_DominikKiss_SubtlePatterns.jpg);
  font-weight: 300;
  font-size: 15px;
  color: #333;
  overflow: scroll;
  overflow-x: hidden;
}

/* line 777, ../sass/_smallest.scss */
.container {
  width: 100%;
  position: relative;
}

/* line 785, ../sass/_smallest.scss */
.main,
.container > header {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

/* line 793, ../sass/_smallest.scss */
.main {
  margin-top: 5em;
}

/* line 797, ../sass/_smallest.scss */
.container > header {
  padding: 40px 10px 50px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}

/* line 804, ../sass/_smallest.scss */
.container > header h1 {
  font-size: 34px;
  line-height: 38px;
  margin: 0;
  font-weight: 700;
  color: #333;
  float: left;
}

/* line 813, ../sass/_smallest.scss */
.container > header h1 span {
  display: block;
  font-size: 20px;
  font-weight: 300;
}

/* Header Style */
/* line 830, ../sass/_smallest.scss */
.cd-dropdown, .cd-select {
  position: absolute;
  margin: 0 auto;
  width: 80%;
  display: block;
  background: white;
  z-index: 100;
  right: 50px;
}

/* line 839, ../sass/_smallest.scss */
.cd-dropdown > span {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #999;
  font-weight: 700;
  font-size: 16px;
  background: #fff;
  display: block;
  padding: 0 50px 0 30px;
  position: relative;
  cursor: pointer;
}

/* line 853, ../sass/_smallest.scss */
.cd-dropdown > span:after {
  content: '\25BC';
  position: absolute;
  right: 0px;
  top: 15%;
  width: 50px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  height: 70%;
  line-height: 24px;
  border-left: 1px solid #ddd;
}

/* line 867, ../sass/_smallest.scss */
.cd-dropdown.cd-active > span:after {
  content: '\25B2';
}

/* line 871, ../sass/_smallest.scss */
.cd-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

/* line 879, ../sass/_smallest.scss */
.cd-dropdown ul li {
  display: block;
  padding: 0;
  width: 100% !important;
}

/* line 885, ../sass/_smallest.scss */
.cd-dropdown ul li span {
  width: 100%;
  background: #fff;
  line-height: 60px;
  padding: 0 2em;
  display: block;
  color: #bcbcbc;
  cursor: pointer;
  font-weight: 700;
}

/* line 897, ../sass/_smallest.scss */
.cd-dropdown > span,
.cd-dropdown ul li span {
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 908, ../sass/_smallest.scss */
.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"] {
  padding: 0 30px 0 45px;
}

/* Select fallback styling */
/* line 913, ../sass/_smallest.scss */
.cd-select {
  border: 1px solid #ddd;
}

/* line 919, ../sass/_smallest.scss */
.cd-dropdown.hidden-phone ul li {
  margin: 1em 0;
  position: static;
}
/* line 923, ../sass/_smallest.scss */
.cd-dropdown.hidden-phone ul li.active span {
  background: #235472;
  color: #fff;
}
/* line 929, ../sass/_smallest.scss */
.cd-dropdown.hidden-phone ul span {
  line-height: 46px;
}

/* CONTACGT FORM */
/* Contact Form */
/* line 937, ../sass/_smallest.scss */
.cbp-mc-form {
  position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 943, ../sass/_smallest.scss */
.cbp-mc-form:before,
.cbp-mc-form:after {
  content: " ";
  display: table;
}

/* line 947, ../sass/_smallest.scss */
.cbp-mc-form:after {
  clear: both;
}

/* line 951, ../sass/_smallest.scss */
.cbp-mc-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Exo", sans-serif;
  color: #3b3b3b;
}

/* line 963, ../sass/_smallest.scss */
.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
  font-family: "Exo", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #3b3b3b;
  display: block;
  width: 100%;
  background: #ebebeb;
}

/* line 975, ../sass/_smallest.scss */
.cbp-mc-form input,
.cbp-mc-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
}

/* line 982, ../sass/_smallest.scss */
.cbp-mc-form textarea {
  min-height: 200px;
}

/* line 989, ../sass/_smallest.scss */
.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
  outline: none;
  border: 1px solid #3b3b3b;
}

/* line 994, ../sass/_smallest.scss */
.cbp-mc-form select:focus {
  outline: none;
}

/* line 998, ../sass/_smallest.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 1003, ../sass/_smallest.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 1008, ../sass/_smallest.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 1013, ../sass/_smallest.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 1018, ../sass/_smallest.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 1024, ../sass/_smallest.scss */
.cbp-mc-form input.cbp-mc-submit {
  background: #3b3b3b;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 1em 0;
  font-weight: 100;
}

/* line 1039, ../sass/_smallest.scss */
.cbp-mc-form input.cbp-mc-submit:hover {
  background: #235472;
}

/* line 1043, ../sass/_smallest.scss */
#nospam, .nospam {
  display: none;
}

/* line 1047, ../sass/_smallest.scss */
.thumbs {
  width: 47%;
  margin: 1%;
  float: left;
}
/* line 1051, ../sass/_smallest.scss */
.thumbs img {
  width: 100%;
}

/* line 1056, ../sass/_smallest.scss */
.alert-success {
  position: absolute;
  top: 0;
  z-index: 1000;
}

/* line 1062, ../sass/_smallest.scss */
input[type="file"] {
  background: transparent;
  padding: 0;
  margin: 0;
}

/* line 1068, ../sass/_smallest.scss */
.post {
  border-bottom: solid 1px #ccc;
  padding-bottom: 2em;
  padding-top: 2em;
}
/* line 1072, ../sass/_smallest.scss */
.post:first-child {
  padding-top: 0;
}
/* line 1075, ../sass/_smallest.scss */
.post:last-child {
  border: 0;
}

/* line 1080, ../sass/_smallest.scss */
ul.posts {
  padding: 0;
  list-style: none;
}
/* line 1083, ../sass/_smallest.scss */
ul.posts li {
  font-size: 14px;
  padding: 7px;
}

/* line 1089, ../sass/_smallest.scss */
.article-title {
  border-bottom: solid 1px #ccc;
}
/* line 1091, ../sass/_smallest.scss */
.article-title h2 {
  font-size: 40px;
}

/* line 4, ../sass/_700.scss */
.footer .span4 {
  text-align: left;
}
/* line 6, ../sass/_700.scss */
.footer .span4 .social {
  text-align: left;
}
/* line 9, ../sass/_700.scss */
.footer .span4 h2 {
  padding: 0;
}

/* line 1, ../sass/_940.scss */
section {
  padding: 6em 0em;
}
