[[$doc_head]]

            <section class="first background" style="background-image:url('/resources/img/hero4.jpg')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>control your home<br>from your <span>fingertips</span></h1>
                    </div>
                </div>
            </section>
            <div class="content interior">
            <section class="second">
                <div class="row-fluid wrap">
                    <div class="pagetitle">
                        <h1>[[*pagetitle]]</h1>
                        <hr>
                    </div>
                    [[*content]]
                </div>
            </section>
            <div class="row-fluid">
                <h2 class="title"><a href="[[~[[*id]]]]">[[*pagetitle]]</a></h2>
                <p class="post-info">
                    <span class="">Posted on [[*publishedon:strtotime:date=`%b %d, %Y`]]</span>
                <div class="entry">
                    <hr />
                    [[*content]]
                </div>
            </div>

           
[[$doc_footer]]