[[$doc_head]]

            <section class="first background" style="background-image:url('/resources/img/hero4.jpg')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>control your home<br>from your <span>fingertips</span></h1>
                    </div>
                </div>
            </section>
            <div class="content interior">
            <section class="second">
                <div class="row-fluid wrap">
                    <div class="span3">
                          <h3>Latest Posts</h3>
                          <ul class="posts">
                          [[+latest_posts]]
                          </ul>
                    </div>
                    <div class="span9">
                        <div class="pagetitle">
                            <h1>[[*pagetitle]]</h1>
                            <hr>
                        </div>
                        [[*content]]
                    </div>
                </div>
            </section>

           
[[$doc_footer]]