[[$doc_head]]

            <section class="first background" style="background-image:url('[[*header-image]]')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>control your home<br>from your <span>fingertips</span></h1>
                    </div>
                </div>
            </section>
            <div class="content interior">
            <section class="second">
                <div class="row-fluid wrap">
                    <div class="pagetitle">
                        <h1>[[*pagetitle]]</h1>
                        <hr>
                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            [[$contact_form]]
                        </div>
                        <div class="span4">
                            [[*content]]
                        </div>
                    </div>
                </div>
            </section>
            [[*content2:notempty=`
            <section class="content2" style="background:#[[*background-color1]]">
                <div class="row-fluid wrap">
                   [[*content2]]
                </div>
            </section>
            `]]
            

           
[[$doc_footer]]


