[[$doc_head]]

            <section class="first background" style="background-image:url('[[*header-image]]')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>control your home<br>from your <span>fingertips</span></h1>
                    </div>
                </div>
            </section>
            <div class="content interior">
            <section class="second">
                <div class="row-fluid wrap">
                    <div class="pagetitle">
                        <h1>[[*pagetitle]]</h1>
                        <hr>
                    </div>
                    [[*content]]
                    [[Gallery? 
                &album=`[[*album]]` 
                &use_richtext =`true`
                &thumbTpl=`thumbnails`
                &thumbHeight=`300`
                &thumbWidth=`300`
                &thumbFar=`BL`
                &imageWidth=`800`
            ]]
                </div>
            </section>
            
           
[[$doc_footer]]