[[$doc_head]]

        
            <section class="first background" style="background-image:url('[[*header-image]]')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>Making one Button<br>do it <span>ALL</span></h1>
                    </div>
                </div>
            </section>
            <div class="content">
            <section class="second">
                <div class="wrap row-fluid">
                    <div class="row-fluid">
                        <div class="span6"><img src="/resources/img/image5.png" alt=""></div>
                        <div class="span6">
                            [[*section1_homepage]]
                            
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="cbp-qtrotator" class="cbp-qtrotator">
                            <div class="cbp-qtcontent">
                                
                                  <p><span class="quote">"</span>The SOHO Shop upgraded/tweaked my system in less than 24 hours. The results are perfect. Thank you, you have a customer.</p>
                                  <p class="name">~Kevin Muise</p>
                               
                            </div>
                            <div class="cbp-qtcontent">
                                
                                  <p><span class="quote">"</span>I strongly recommend Bryan and The SOHO Shop for home theater projects for other Innsbrook residents.</p>
                                  <p class="name">~Mike E Smith</p>
                               
                            </div>
                            <div class="cbp-qtcontent">
                                
                                  <p><span class="quote">"</span>You should really push users towards these top end installers and dealers to ensure positive experiences.</p>
                                  <p class="name">~Adam Gacek</p>
                               
                            </div>
                        </div>
                </div>
</div>
            </section>
            <section class="third background" style="background-image:url('/resources/img/hero5.jpg')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>residential</h1>
                    </div>
                </div>
            </section>
            <section class="fourth">
                <div class="wrap">
                    <div class="row-fluid">
                      <div class="span4"><img src="/resources/img/image1.png" alt=""></div>
                      <div class="span4"><img src="/resources/img/dealer.png" alt=""></div>
                      <div class="span4"><img src="/resources/img/image2.png" alt=""></div>
                    </div>
                    <br>
                    <br>
                    <div class="row-fluid">
                        <div class="span6">
                            <p>The SOHO Shop obtained the highest level as Control4 Authorized Pinnacle dealer in 2013 and is working towards that goal for 2014. We continue to have growth by following one simple mission, “make our customers’ everyday life safer and simpler through the intelligent use of smart technology.”</p>
                        </div>
                        <div class="span6">
                            <p>Our promise continues to be: When you work with us, you know you are doing business with a company that has the technological experience to design and install a state-of-the-art residential or commercial technology system, and the business acumen to be grounded to service the system years from now. We are a veteran-owned small business whose management team brings together decades of experience from various disciplines.</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <h2 class="call-to-action"><a href="/residential">See our full line of services for your home</a><span class="ico-arrow-right"></span></h2>
                    </div>
                </div>
            </section>
            <section class="fifth background" style="background-image:url('/resources/img/hero6.jpg')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>commercial</h1>
                    </div>
                </div>
            </section>
            <section class="sixth">
                <div class="wrap row-fluid">
                    <div class="span6"><img src="/resources/img/image4.png" alt=""></div>
                    <div class="span6">
                        <p>From bowling alleys to bars, car dealerships to churches to conference centers, there’s no business that can’t benefit from a little control. </p>
                        <p>The SOHO Shop offers custom installation of commercial automation systems ranging from a remote-monitored security system for a vacation rental property to complete automation for a high-rise hotel or a 30,000 square-foot corporate office. Regardless of the size of your operation, the automation experts at The SOHO Shop can help you find a solution that will reduce labor costs, increase customer satisfaction, and keep your business growing.</p>
                        <h2 class="call-to-action"><a href="/commercial">See how The SOHO Shop can improve your business</a><span class="ico-arrow-right"></span></h2>
                    </div>
                </div>
            </section>

[[$doc_footer]]
