[[$doc_head]]

            <section class="first background" style="background-image:url('[[*header-image]]')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>control your home<br>from your <span>fingertips</span></h1>
                    </div>
                </div>
            </section>
            <div class="content interior">
            <section class="second">
                <div class="row-fluid wrap">
                    <div class="pagetitle">
                        <h1>[[*pagetitle]]</h1>
                        <hr>
                    </div>
                    [[*content]]
                </div>
            </section>
            [[*content2:notempty=`
            <section class="content2" style="background:#[[*background-color1]]">
                <div class="row-fluid wrap">
                   [[*content2]]
                </div>
            </section>
            `]]
            [[*content3:notempty=`
            <section class="content3" style="background:#[[*background-color2]]">
                <div class="row-fluid wrap">
                   [[*content3]]
                </div>
            </section>
            `]]
            [[*content4:notempty=`
            <section class="content4" style="background:#[[*background-color3]]">
                <div class="row-fluid wrap">
                   [[*content4]]
                </div>
            </section>
            `]]
            <section class="row-fluid feature">
                <div class="span6"><img src="[[+left-image]]" alt=""></div>
                <div class="span6"><img src="[[+right-image]]" alt=""></div>
            </section>

           
[[$doc_footer]]