[[$doc_head]]

            <section class="first background" style="background-image:url('[[*header-image]]')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>control your home<br>from your <span>fingertips</span></h1>
                    </div>
                </div>
            </section>
            <div class="content interior">
            <section class="second">
                <div class="row-fluid wrap">
                    <div class="pagetitle">
                        <h1>[[*pagetitle]]</h1>
                        <hr>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <p style="text-align:center"><img style="width:auto;" src="[[*dealer_logo]]"></p>
                            [[*content]]
                            [[$contact_form_homeowner]]
                        </div>
                    </div>
                </div>
            </section>

           
[[$doc_footer]]


