[[$doc_head]]

            <section class="first background" style="background-image:url('[[*header-image]]')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>control your home<br>from your <span>fingertips</span></h1>
                    </div>
                </div>
            </section>
            <div class="content">
            <section class="second">
                <div class="row-fluid wrap">
                    <div class="span6">
                        <h1>[[*pagetitle]]</h1>
                        [[*content]]
                    </div>
                    <div class="span6">
                        <img src="/resources/img/Interfaces.jpg" alt="">
                    </div>
                    <hr>
                </div>
                <div class="wrap row-fluid">
                    <div class="span3 servivces">
                        <div class="cd-dropdown cd-active hidden-phone">
                        <ul>
                            <li class="active"><a data-toggle="tab" href="#livingroom"><span>Living Room</span></a></li>
                            [[getResources? &parents=`20` &sortby=`{"menuindex":"ASC"}` &limit=`0` &tpl=`option2` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &showUnpublished=`1` &resources=`-22`]]
                        </ul>
                    </div>
                        
                     <select id="cd-dropdown" class="cd-select">
                        <option value="-1" selected>Living Room</option>
                        [[getResources? &parents=`20` &sortby=`{"menuindex":"ASC"}` &limit=`0` &tpl=`option` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &showUnpublished=`1`]]
                    </select>

                    </div>
                    <div class="span9 main">
                        <div class="tab-content">
                            [[getResources? &parents=`20` &sortby=`{"menuindex":"ASC"}` &limit=`0` &tpl=`services_page_TPL` &includeContent=`1` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &showUnpublished=`1`]]
                        </div>
                    
   
            </section>
            <section class="row-fluid feature">
                <div class="span6"><img src="[[+left-image]]" alt=""></div>
                <div class="span6"><img src="[[+right-image]]" alt=""></div>
            </section>
            <section class="testimonial">
                <div class="row-fluid wrap">
                     <div id="cbp-qtrotator" class="cbp-qtrotator">
                        <div class="cbp-qtcontent">
                            <p><span class="quote">"</span>The SOHO Shop upgraded/tweaked my system in less than 24 hours. The results are perfect. Thank you, you have a customer.</p>
                            <p class="name">~Kevin Muise</p>
                        </div>
                    </div>
                </div>
            </section>
           
[[$doc_footer]]