[[$doc_head]]

            <section class="first background" style="background-image:url('[[*header-image]]')">
                <div class="row-fluid wrap">
                    <div class="span6 callout">
                        <h1>control your home<br>from your <span>fingertips</span></h1>
                    </div>
                </div>
            </section>
            <div class="content">
            <section class="second">
                <div class="row-fluid wrap">
                    <div class="span6">
                        <h1>Page Title</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat id dolorum consectetur recusandae libero repudiandae iste delectus facilis. Deserunt, nobis, illo, repellendus perferendis accusamus fugit explicabo at hic minima architecto autem incidunt eligendi adipisci quas!</p>
                        <hr>
                        <h2>Control 4 System</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, repudiandae sint vitae tempore itaque nobis inventore sed facilis.</p>
                    </div>
                    <div class="span6">
                        <img src="/resources/img/Interfaces.jpg" alt="">
                    </div>
                    <hr>
                </div>
                <div class="wrap row-fluid">
                    <div class="span3 servivces">
                        <ul class="nav nav-tabs" id="myTab">
                            <li><a href="#item1" data-toggle="tab">Home Theater</a></li>
                            <li><a href="#item2" data-toggle="tab">Television Installation</a></li>
                            <li><a href="#item3" data-toggle="tab">Audio Visual</a></li>
                            <li><a href="#item4" data-toggle="tab">Home Security</a></li>
                            <li><a href="#item5" data-toggle="tab">Climate Control</a></li>
                            <li><a href="#item6" data-toggle="tab">Lighting</a></li>
                            <li><a href="#item7" data-toggle="tab">Green Home</a></li>
                            <li><a href="#item8" data-toggle="tab">Ipad and Iphone Remotes</a></li>
                            <li><a href="#item9" data-toggle="tab">Build Your System</a></li>
                        </ul>
                    </div>
                    <div class="span9 main">
                        <div class="tab-content">
                        <div class="tab-pane fade-in active" id="item1">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, a enim quae nobis nisi repellendus quibusdam totam odio. Sequi, ipsam!</p>
                                <p>Molestiae, aliquid, consequatur, quae quas veniam quis dicta magni natus incidunt necessitatibus iste vel assumenda distinctio veritatis ipsa tempore praesentium!</p>
                                <p>Minima, nobis, nulla, enim vero sapiente est cum nihil optio asperiores facilis ipsum impedit. Possimus ducimus eius voluptate! Voluptatem, asperiores.</p>
                                <p>Tenetur aliquid cum sapiente totam. Dolor, totam, officia illo nesciunt vel repudiandae dolorum eveniet asperiores numquam cumque aut exercitationem natus.</p>
                                <p>Earum, est mollitia deserunt id in quae eaque amet. Veniam, harum, fugit repellat quaerat quae quia cumque maxime commodi reiciendis.</p>
                            </div>
                            <div class="tab-pane fade-in" id="item2">
                                
                            </div>
                            <div class="tab-pane fade-in" id="item3">
                                
                            </div>
                            <div class="tab-pane fade-in" id="item4">
                                
                            </div>
                            <div class="tab-pane fade-in" id="item5">
                                
                            </div>
                            <div class="tab-pane fade-in" id="item6">
                                
                            </div>
                            <div class="tab-pane fade-in" id="item7">
                                
                            </div>
                            <div class="tab-pane fade-in" id="item8">
                                
                            </div>
                            <div class="tab-pane fade-in" id="item9">
                                
                            </div>
                        </div>
                    
   
            </section>
            <section class="row-fluid feature">
                <div class="span6"><img src="/resources/img/image3.jpg" alt=""></div>
                <div class="span6"><img src="/resources/img/image2.jpg" alt=""></div>
            </section>
            <section class="testimonial">
                <div class="row-fluid wrap">
                     <div id="cbp-qtrotator" class="cbp-qtrotator">
                        <div class="cbp-qtcontent">
                            <p><span class="quote">"</span>The SOHO Shop upgraded/tweaked my system in less than 24 hours. The results are perfect. Thank you, you have a customer.</p>
                            <p class="name">~Kevin Muise</p>
                        </div>
                    </div>
                </div>
            </section>
           
[[$doc_footer]]